@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
 
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {

  #about{

    margin-top: 20vh;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    margin-top: 10vh;
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-upper-container{

    width:80vw;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  /* .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  } */
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .project-card-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    width: 90vw;
    align-items: center;
  }
  .card{
  
    width: 80vw;
    margin: 0;
    margin-top: 3vh;
  }
  .card a{
    width: 26vw;
  }
  .article-container {

    width: 85vw;
  }
  article{
    width: 24vw;
    font-size: 2vh;
  }
  #profile,
  .section-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 275px;
    max-height: 275px;
    
    
  }
  #profile .section__pic-container img{
   
    max-width: 275px;
    max-height: 275px;
  }
  
  
}
